h1 {
     min-width: 70px; border: thick double black; margin-left: auto;
    margin-right: auto; text-align: center; font-size: x-large; padding: .5em;
    color: darkgreen; background-image: url("/JQuery/ressources/img/border.png");
    background-size: contain; margin-top: 0;
}
.dtable {display: table; margin: auto;}
.drow {display: table-row;}       
.dcell {display: table-cell; padding: 10px;}
.dcell > * {vertical-align: middle}
.info { text-align: center;}
input {width: 2em; text-align: right; border: thin solid black; padding: 2px;}
label {width: 5em;  padding-left: .5em; display: inline-block;}
#oblock {display: block; margin-left: auto; margin-right: auto; min-width: 700px; }
#buttonDiv {text-align: center;}
input[type='button']{width: auto; padding: 2px 5px;text-align: center;}
